@{
    ViewData["Title"] = "B Track";
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>TEST HERE: @ViewData["TestDisplay"]</p>
    <p>TEST HERE2 : @ViewData["TestDisplay2"]</p>
    <p>Status 1 Test: @ViewData["bugStatus1Total"]</p>
    <p>Status 2 Test: @ViewData["bugStatus2Total"]</p>
    <p>Status 3 Test: @ViewData["bugStatus3Total"]</p>
    <p>Total Test: @ViewData["bugStatus4Total"]</p>


</div>