@{
    ViewData["Title"] = "B Track";
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>TEST HERE: @ViewData["TestDisplay"]</p>
    <p>TEST HERE2 : @ViewData["TestDisplay2"]</p>
    <p>Status 1 Test: @ViewData["bugStatus1Total"]</p>
    <p>Status 2 Test: @ViewData["bugStatus2Total"]</p>
    <p>Status 3 Test: @ViewData["bugStatus3Total"]</p>
    <p>Total Test: @ViewData["bugStatus4Total"]</p>

  
</div>

<style>
    div.statusChart {
        width: 500px;
        margin: auto;
    }
</style>

<div class="statusChart">
    <canvas id="statusChart"></canvas>
</div>

<script>
    const ctx = document.getElementById('statusChart');
    
    new Chart(ctx, {
        type: 'doughnut',
        data: {
            labels: [
                'Open',
                'In Progress',
                'Closed'
            ],
            datasets: [{
                label: 'Bugs',
                data: [@ViewData["bugStatus1Total"], @ViewData["bugStatus2Total"], @ViewData["bugStatus3Total"]],
                backgroundColor: [
                    'rgb(255, 99, 132)',
                    'rgb(54, 162, 235)',
                    'rgb(255, 205, 86)'
                ],
                hoverOffset: 4
            }]
        }
    });

</script>