@{
    ViewData["Title"] = "B Track";
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>TEST HERE: @ViewData["TestDisplay"]</p>
    <p>TEST HERE2 : @ViewData["TestDisplay2"]</p>
    <p>Model 1 Test: @ViewData["bugStatus1Total"]</p>
    <p>Model 2 Test: @ViewData["bugStatus2Total"]</p>
    <p>Model 3 Test: @ViewData["bugStatus3Total"]</p>
    <p>Model 4 Test: @ViewData["bugStatus4Total"]</p>

    
</div>



