@model BTrack.Models.Bugs

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Bugs</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.bugStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.bugStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.bugTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.bugTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.bugDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.bugDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.bugPriority)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.bugPriority)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.bugId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
