@model IEnumerable<BTrack.Models.Bugs>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.bugId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.bugStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.bugTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.bugDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.bugPriority)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.bugId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.bugStatus)
                <!--PUT BUG STATUS THING HERE-->
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.bugTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.bugDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.bugPriority)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.bugId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.bugId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.bugId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
